.FullView {
  visibility: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(2, minmax(100px, 1fr));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  z-index: var(--z-index-FullView);
}

.FullView__close {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 20px;
  font-size: 40px;
  cursor: pointer;
  color: var(--uls-blue);
}
.FullView__left, .FullView__right {
  background-color: white;
  transition: 300ms ease all;
  border: 10px solid var(--uls-blue);
}
.FullView__left {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  justify-content: flex-start;
  border-right-width: 5px;
  transform: translateX(-100%);
  min-height: 400px;
  max-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}
.FullView__image {
  display: none;
}
.FullView__image img {
  height: auto;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
.FullView__image-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}
.FullView__image-gallery img {
  max-height: 70%;
  cursor: pointer;
  margin: 10px;
  border-bottom: 5px solid transparent;
  transition: 200ms ease all;
}
.FullView__image-gallery img.active {
  border-bottom: 5px solid var(--uls-blue);
  box-sizing: content-box;
}
.FullView__right {
  border-left-width: 5px;
  transform: translateX(100%);
  padding: 3rem;
  padding-right: 20%;
}
.FullView__left_open {
  transform: translateX(0);
}
.FullView__right_open {
  transform: translateX(0);
}

.FullView_open {
  visibility: visible;
}
.FullView__btn-group .btn {
  border-radius: 40px !important;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 100ms ease all;

}
.FullView__btn-group .btn.active {
  background-color: var(--uls-blue)!important;
  color: white !important;
  border: none;
  transform: scale(.9);
  z-index: 10;
}
.FullView__AddToCartBtn {
  border-radius: 0;
  background-color: var(--uls-blue);
  color: white;
  font-weight: bold;
  padding: 10px 70px;
}

@media (min-width: 740px) {
  .FullView {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-rows: 1fr;
    height: 100vh;
  }
  .FullView__left {
    max-height: 100vh;
    min-width: 355px;
    grid-template-rows: calc(100vh - 150px) 150px;
  }
  .FullView__image-gallery {
    flex-direction: row;
    overflow: hidden;
  }
  .FullView__image {
    display: block;
  }
}



@keyframes translateLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes translateRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes translateRightClose {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
